# ML models
# Ignore actual model binaries
*.pt
*.pth
*.ckpt
*.onnx
*.h5

# Ignore model directory contents BUT allow DVC pointer files
model/*
!model/*.dvc
!model/.gitignore

# MLflow
mlflow.db
mlruns/

# Python
__pycache__/
*.pyc
.venv/
env/

# Docker
*.log