version: '3.8'

services:
  mlops-classifier:
    image: vaishnavi06/mlops-classifier:latest
    container_name: pet-classifier
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
